extends layout

block content
  section#slideshow
    ul.slides
      li
        img(src="img/photos/1.jpg",width="620",height="320",alt="Marsa Alam underawter close up")
      li
        img(src="img/photos/2.jpg",width="620",height="320",alt="Turrimetta Beach - Dawn")
      li
        img(src="img/photos/3.jpg",width="620",height="320",alt="Power Station")
      li
        img(src="img/photos/4.jpg",width="620",height="320",alt="Colors of Nature")
      span.arrow.previous
      span.arrow.next
  article#mainContent
    h1 #{title}
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris elementum risus sed leo suscipit tempor. Aliquam id blandit magna. Integer auctor suscipit quam, id suscipit justo semper vitae. Suspendisse potenti. Vivamus tristique diam a felis mollis semper. Duis sagittis, mauris vitae mollis hendrerit, leo quam eleifend lacus, vestibulum bibendum massa quam mattis est. Nam fringilla dictum libero at ornare. In tincidunt vulputate velit vel tempor. Mauris quis tellus urna, ac lobortis quam.
    p Donec libero urna, varius et commodo nec, posuere et turpis. Maecenas id elementum magna. Nullam quam magna, mattis sed interdum placerat, bibendum in magna. Suspendisse potenti. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum sit amet nunc nulla, in vehicula mi. Mauris ornare libero arcu. Donec dolor nisi, ornare sit amet dictum eu, posuere congue odio. Fusce viverra varius rutrum. Nam lobortis dui id tellus gravida eleifend. Fusce accumsan, ligula tincidunt vestibulum ullamcorper, urna massa accumsan justo, at sodales eros mi sit amet eros. Maecenas sollicitudin, augue eu egestas molestie, tortor nunc condimentum purus, ac vehicula leo justo et purus.
  section#mapWrap
    div#map
    div#map-directions